body{
    min-height: 100vh;
    /* display: grid; */
    place-content: center;
    font-size: 15px;
    font-family: "League Spartan";
    /* background-image: url(./images/bg-pattern-bottom-desktop.svg); */
    background-image: url(./images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
}

.main{
    background-image: url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    margin: 50px 120px;
}

.text-rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating{
    display: flex;
    width: 350px;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-color: hsl(300, 24%, 96%);
    padding: 10px 0 10px 20px;
}

.text{
    width: 350px;
    color: hsl(300, 43%, 22%);
    font-weight: 400;
    opacity: 0.8;
}

.text h1{
    font-size: 40px;
    color: hsl(300, 43%, 22%);
}

p{
    line-height: 20px;
}

.a{
    margin-left: -60px;
}

.b{
    margin: 15px 0 15px -30px;
}

.stars{
    margin-left: 20px;
    font-weight: 600;
    color: hsl(300, 43%, 22%);
}

.profiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.profile{
    width: 260px;
    height: auto;
    border: 1px solid hsl(300, 43%, 22%);
    border-radius: 5px;
    padding: 20px 30px;
    color: white;
    background-color: hsl(300, 43%, 22%);
}

img{
    border-radius: 50%;
    margin-right: 30px;
}

.img-name{
    display: flex;
    margin-bottom: 30px;
}

.verified{
    color: hsl(333, 80%, 67%);
}

.pb{
    margin-top: 50px;
}

.pc{
    margin-top: 100px;
}

@media (max-width: 560px) {
    body{
        background-image: url(./images/bg-pattern-top-mobile.svg);
        background-repeat: no-repeat;
    }
    .main{
    background-image: url(./images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
    .container{
        margin: 40px 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .text-rating{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .a, .b{
        margin: 0;
    }
    .b{
        margin: 15px 0;
    }
    .rating{
        display: flex;
        flex-direction: column;
    }
    .svg{
        margin-bottom: 10px;
    }
    .profiles{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }
    .pb, .pc{
        margin-top: 30px;
    }
    .profile, .text{
        width: auto;
    }
}